p{
    color: rgba(255, 255, 255, 0.646);
    text-align: center;
}
i{
    color: black;
}
i:hover{
    color: blue;
    cursor: pointer;
}
.last{
    background: rgb(68, 67, 67);
    margin-top: 1em;
}