.alCenter{
    text-align: center;
}
.modal-header,
.modal-footer{
    background-color: rgb(104, 103, 103);
}
#staticLabel{
    font-weight: bold;
    color: white;
}
.alert{
    font-size: .875rem;
    margin: 0;
    padding: 0;
}
.success{
    color: black;
    background: rgba(0, 128, 0, 0.483);
    font-size: .875rem;
}