
.gradient{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
	background: linear-gradient(to right, #EDE342, #F2BF6C,#F69A97, #FB76C1, #FF51EB);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
p{
    text-align: center;
    color: black;
}
.changebg{
    background: gray;
}