
.gradient{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
	background: linear-gradient(to right, #42047e, #07f49e);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
p{
    text-align: center;
    color: black;
}
.changebg{    
    background: url('../../assets/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}