<div class="row addQuote">
  <div class="col">
    <app-add-quote (addQuote) = "addQuoteToList($event)"></app-add-quote>
  </div>
</div>
<div class="row quoteList mt-1">
  <div class="col">
    <div class="card mt-1" *ngFor="let quote of quotes; let i = index">            
      <div class="card-body">
        <blockquote class="blockquote mb-0">                
          <p> <span>&ldquo;</span>{{quote.description}}.</p>
          <footer class="blockquote-footer text-right"><cite title="Source Title">{{quote.author}}</cite> | Published: {{quote.date | formatDate}}</footer>
        </blockquote>
        <small (click)="toggleFooter(i)">Details...</small>
      </div>
      <app-quote-details *ngIf="quote.showFooter" [quote]= "quote" (canDelete)= "deleteQuote($event, i)"></app-quote-details>
    </div>
  </div>    
</div>